.download {
   min-height: 100vh;
   background: url(../images/download_bg.jpg) no-repeat center;
   background-size: cover;
   display: flex;

   &_app {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 686px;
      max-width: $container_width;
      padding: 0 $container_padding;
      overflow: hidden;

      &_top {
         display: flex;

         .button {

            &_logo {
               margin-right: 36px;
            }

            &_link {
               border-radius: 30px;
               height: fit-content;
               align-self: center;
            }
         }

         &_descript {
            padding: 93px 0 85px 0;
            font-family: "Proxima Nova Bold", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            background: 
               url(../images/Rectangle_1_6.svg) no-repeat 1% 55%,
               url(../images/Rectangle_1_5.svg) no-repeat 74% 100%;

            &_title {
               color: #ffffff;
               font-size: 90px;
               line-height: 98px;
               letter-spacing: 5px;
            }

            &_text {
               color: #a496ca;
               font-size: 36px;
               line-height: 40px;
            }
         }
      }

      &_buttons {
         margin: 25px 0 229px;
         display: flex;
         justify-content: center;
      }
   }
}

/* 768 */
@media (max-width: $pad_width) {
   .download {

      &_app {
         min-height: 713px;
         padding: 5px 15px;

         &_top {
            flex-direction: column;
            align-items: center;

            .button {

               &_logo {
                  margin-right: 0;
               }
            }

            &_descript {
               align-items: center;
               padding: 86px 0 80px 0;
               position: relative;
               top: -12px;

               &_title {
                  font-size: 80px;
                  line-height: 88px;
                  letter-spacing: 4.5px;
               }

               &_text {
                  font-size: 36px;
                  line-height: 60px;
               }
            }
         }

         &_buttons {
            margin-bottom: 96px;
         }
      }
   }
}

/* 320 */
@media (max-width: $phone_width) {
   .download {

      &_app {
         min-height: 380px;
         padding: 5px 5px;

         &_top {

            .button_link {
               border-radius: 20px;
            }

            &_descript {
               padding: 33px 0 27px 0;
               top: 22px;
               background-size: 20%, contain;

               &_title {
               font-size: 34px;
               line-height: 42px;
               letter-spacing: 1.7px;
               }

               &_text {
                  color: #9b8ec1;
                  font-size: 15px;
                  line-height: 19px;
                  letter-spacing: 0.75px;
               }
            }
         }
         
         &_buttons {
            margin-bottom: 80px;
         }
      }
   }
}